<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="../static/css/admin.css" type="text/css" rel="stylesheet">
        <link href="../static/css/amazeui.css" type="text/css" rel="stylesheet">
        <link href="../static/css/amazeui.flat.css" type="text/css" rel="stylesheet">
        <link href="../static/css/amazeui.flat.min.css" type="text/css" rel="stylesheet">
        <link href="../static/css/app.css" type="text/css" rel="stylesheet"/>
        <link href="../static/css/amazeui.min.css" type="text/css" rel="stylesheet"/>
        <link href="style.css" type="text/css" rel="stylesheet"/>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/app.js"></script>
        <script src="../static/js/handlebars.min.js"></script>
        <script src="../static/js/amazeui.widgets.helper.min.js"></script>
        <script src="../static/js/amazeui.widgets.helper.js"></script>
        <script src="../static/js/amazeui.min.js"></script>
        <script src="../static/js/amazeui.legacy.min.js"></script>
        <script src="../static/js/amazeui.legacy.js"></script>
        <script src="../static/js/amazeui.js"></script>
        <script src="../static/js/polyfill/rem.min.js"></script>
        <script src="../static/js/polyfill/respond.min.js"></script>
    </head>
    <header data-am-widget="header" class="am-header am-header-default" style="background-color:#FF88C2">
  <h1 class="am-header-title">
    <a href="#title-link" class="">表白大师</a>
  </h1>
</header>
    <body>
    {%block agecontent%}
    {%endblock%}
    {%block namecontent%}
    {%endblock%}
    </body>

</html>