<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link href="../static/css/amazeui.min.css" type="text/css" rel="stylesheet"/>

        <script src="../static/js/amazeui.min.js"></script>

    </head>
    <header data-am-widget="header" class="am-header am-header-default" style="background-color:#FF88C2">
  <h1 class="am-header-title">
    <a href="#title-link" class="">表白大师</a>
  </h1>
    <body>
    {%block xzcontent%}
    {%endblock%}
    {%block namecontent%}
    {%endblock%}
    {%block xxcontent%}
    {%endblock%}


    </body>
</html>